body {
    display: flex; /* 启用 Flexbox */
    justify-content: flex-start; /* 设置水平对齐方式 */
    align-items: center; /* 设置垂直对齐方式 */
    gap: 10px; /* 设置子元素之间的间距 */
  }
  
  h1 {
    position: sticky;
    color: #0023ff;
    top: 0; 
    z-index: 5; /* 确保粘性元素显示在内容之上 */
    padding: 1px;
  }
  
  .parent {
    
    
    width: 100vw;
    height: 160vh;
    display: flex; /* 启用 Flexbox */
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: center; /* 垂直方向居中（可以调整为其他值） */
    align-items: center; /* 水平方向居中 */
  
  }
  
  .child {
    color: white;
    display: flex; /* 启用 Flexbox */
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: center; /* 垂直方向居中（可以调整为其他值） */
    align-items: center; /* 水平方向居中 */
    background-color: black;
    height: 820vh; /* 高度设置 */
    width: 6vw; /* 可根据需要调整宽度 */
    margin: 10px; /* 控制子元素之间的间距 */
    transition: transform 0.5s ease; /* 添加平滑过渡效果 */
  }
  
  .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden; /* 防止文字超出边界 */
    opacity: 0;
    animation: none;
  }
  
  .container:hover {
    opacity: 0.5; /* 悬停时使容器变得透明 */
  }
  
  .text {
    color: white;  
    opacity: 0; /* 初始文字透明 */
    transform: translateY(20px); /* 文字初始位置稍微向下 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 文字的过渡效果 */
  }
  
  .container:hover .text {
    opacity: 1; /* 悬停时文字逐渐显示 */
    transform: translateY(0); /* 文字平移回初始位置 */
  }
  
  .child:hover {
    transform: rotate(90deg); /* 鼠标悬停时顺时针旋转 90 度 */
  }
  
  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  div {
    animation: move 50s infinite;
  }
  