body {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

.container {
  position: relative;
  top:50vH;
  left: 11VW;
  height: 15VH;
  flex-direction: column;
  /* 改变为列方向 */
  /* background-color: black; */
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  /* 防止文字超出边界 */
  /* opacity: 0; */
  animation: none;
}

.text {
  font-size: 1vh;
  height: 1vh;
  color: rgb(159, 159, 159);
  opacity: 1;
  /* 初始文字透明 */
  transform: translateY(20px);
  /* 文字初始位置稍微向下 */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* 文字的过渡效果 */
}


/* 固定的 Header 样式 */
.header {
  display: grid;
  /* 使用 grid 布局 */
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* 水平居中每个 grid 项 */
  grid-template-rows: 1fr;
  /* 一行 */
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  /* 定义固定的高度 */
  user-select: none;
  z-index: 11;

  /* 半透明背景色 */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 添加阴影效果 */
}

/* 滚动内容样式 */
.headerlayout {
position: relative;
  top: 0vh; /* 确保滚动内容不被 Header 遮挡 */
  height: 500vh;
  animation: none;
}



/* 每个 Header 项的样式 */
.headerdivp {
  animation: none;
  position: sticky;
  top: -4vw; /* 在父级容器顶部时固定 */
  font-weight: bold;
  font-size: 6vw; /* 字体大小 */
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* 每个 Header 项的样式 */
.headerdivw {
  animation: none;
  position: sticky;
  top: -4vw;
  /* font-family: 'Microsoft YaHei', sans-serif; */
  /* 微软雅黑字体 */
  font-weight: bold;
  /* 加粗 */
  font-size: 6vw;
  /* 字体大小 */
  color: rgb(255, 255, 255);
  /* 红色文字 */
  cursor: pointer;
  /* 鼠标悬停时显示为可点击 */
  transition: color 0.3s;
  /* 平滑的颜色过渡效果 */
}

/* 每个 Header 项的样式 */
.headerdivs {
  animation: none;
  position: sticky;
  top: -0;
  /* font-family: 'Microsoft YaHei', sans-serif; */
  /* 微软雅黑字体 */
  font-weight: bold;
  /* 加粗 */
  font-size: 6vw;
  /* 字体大小 */
  color: rgb(0, 25, 151);
  /* 红色文字 */
  cursor: pointer;
  /* 鼠标悬停时显示为可点击 */
  transition: color 0.3s;
  /* 平滑的颜色过渡效果 */
}

.headerdivi {
  position: sticky;
  top: -4vw;
  animation: none;
  /* font-family: 'Times New Roman', Times, serif; */
  /* 微软雅黑字体 */
  font-weight: bold;
  /* 加粗 */
  font-size: 6vw;
  /* 字体大小 */
  color: rgb(0, 25, 151);
  /* 红色文字 */
  cursor: pointer;
  /* 鼠标悬停时显示为可点击 */
  transition: color 0.3s;
  /* 平滑的颜色过渡效果 */
  color: transparent;
  -webkit-text-stroke: 0.1vh rgb(0, 25, 151); /* 添加外部描边 */
  -webkit-background-clip: text; /* 背景剪裁到文字 */
}

/* 鼠标悬停时改变颜色 */
.header div:hover {
  color: rgb(69, 69, 69);
  /* 悬停时变为深红色 */
}

/* 页面内容样式 */
.content {
  margin-top: 100px;
  /* 给 Header 留出空间 */
  padding: 20px;
}

#pic-container {
  /* margin-top: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}